* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

.mainContainer {
margin:calc(50% - 50vw);
    display: flex;
    flex-direction: row;
    background-color: #151018;
}

.leftContainer {
    position: relative;
    width: calc(50vh - 20px);
    height: calc(100vh - 20px);
    margin: 20px;
    box-sizing: border-box;
    background-image: url("../imgs/Background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.leftContainerWaterMark {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
    height: 100px;
    position: absolute;
    justify-self: center;
    background-color: #000;
}

.watermarkText {
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #fde861;
    opacity: 100%;
    text-align: center;
    text-justify: center;
}

.watermarkTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftContainerLogo {
    background-color: #fde861;
    height: 100%;
    width: 100%;
}

.rightContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #36293d;
    box-sizing: border-box;
    width: calc(100vh - 20px);
    height: calc(100vh - 20px);
    margin: 20px;
}

.rightCompartmentTop,
.rightCompartmentMiddle,
.rightCompartmentBottom {
    padding: 20px;
    height: 100%;
    color: white;
}

.rightCompartmentMiddle {
    background-color: #574162;
}

button {

  background-color: #fde861;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 200ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
    transition:  200ms;
  background-color: #F082AC;}

.formContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    height: 100%;
}

.formSeparators {
    font-weight: 1000;
    line-height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

